<div class="w1000">
  <div class="main-title yh b-border">公司资讯
    <font>公司资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">天午Dialog BT4.0 模块问世!</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2015-08-07</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;
        <span style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">3月20日，对于天午来讲，意义重大！天午针对可穿戴的蓝牙模块问世了！</span>
      </p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">目前有两类模块，小的面积8mm*10mm可做手环，防丢器等产品；大的面积12.5mm*7.5mm可做遥控器等产品。</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">我们的蓝牙模块有如下优势：</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">1、模块面积目前国内最小------8mm*10mm;</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">2、功耗最低------3V工作电压下T×4.3mA，Rx 4mA；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">3、PCBA成本最低------外围元器件极少 5个；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">目前天午的模块可做的产品很多，大体列举如下：</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">1、可穿戴相关产品（手环、手表）；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">2、防丢器（物品防丢，寻找物体，智能点名器等）；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">3、遥控器，游戏手柄；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">4、电子秤；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">5、智能LED；</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">实际上，天午的模块可以做很多的产品形态，利用它体积小，功耗低的优势，发挥我们的想象力，就会有无数的新潮、好玩的产品出来。</p>
      <p style="color: rgb(104, 104, 104); font-family: Arial, 微软雅黑; line-height: 18px;">更关键的是天午的产品与智能手机搭载起来，实现智能终端管理产品，使我们的生活变得智能、健康、时尚、前沿、便捷！</p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
