footer {
  height: 60px;
  background: #187318;
  color: #fff;
  span {
    font-size: 12px;
    display: inline-block;
    line-height: 60px;
    margin-right: 27px;
  }
  .footerBox {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    clear: both;
  }
  .call {
    background: url('../../assets/images/call.jpg') no-repeat left center;
    padding-left: 20px;
  }
  .email {
    background: url('../../assets/images/email.jpg') no-repeat left center;
    padding-left: 20px;
  }
  a.feedback {
    display: block;
    position: absolute;
    z-index: 10;
    width: 248px;
    height: 36px;
    right: 0;
    top: -17px;
    background: url('../../assets/images/feedback.jpg') no-repeat;
    font-size: 16px;
    color: #187318;
    text-align: center;
    line-height: 36px;
  }
  a.feedback font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #040404;
    margin-left: 5px;
  }
}

@media screen and (max-width: 999px) {
  footer {
    margin-top: 60px;
    height: auto;
    color: #fff;
    background: #187318;
    .footerBox {
      padding: 35px 8px 20px 20px;
      margin: 0 auto;
      width: auto;
      position: relative;
      clear: both;
      span {
        line-height: 36px;
        color: #fff;
      }
    }
  }
}
