<div class="w1000">
  <div class="main-title yh b-border">消费类
    <font>消费类</font>
  </div>
  <div class="s-list">
    <ul>
      <li>
        <div class="s-title yh">
          <a>1、QC2.0 ：iw1780-01+iw626-00</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/xiaofei/2015-09-16/f436d9b581aa956f135845ed578d7718.jpg">
        </div>
        <div class="r s-intro">
          <p>
            <span style="color: rgb(128, 128, 128);">&nbsp;1、支持高通QC2.0快充协议。</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">2、原副边采用数字通信协议，省掉了采用分离元件的解码器。</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">3、最大率可以做到24W。</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">4、待机功耗小于30mW.</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">5、QR工作模式，减少MOS开通损耗，优化EMI。</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">6、多重保护模式：输出短路保护、输出过压保护、输出过流保护、原边电流检测电阻短路保护、过温保护等</span>
          </p>
          <p>
            <span style="color: rgb(128, 128, 128);">7、可设定的快速放电时间（当拔掉终端时，从9V、12V降到5V的时间）。</span>
          </p>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="s-title yh">
          <a>2、iwatt adapter</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/xiaofei/2015-09-16/3df32d4fc07eaf79937f84f5eddd5362.png">
        </div>
        <div class="r s-intro">
          <p>&nbsp;MTK PE+：iw1788-26\42</p>
          <div>1、支持MTK PE+快充协议。</div>
          <div>2、最大率可以做到24W。</div>
          <div>3、待机功耗小于30mW.</div>
          <div>4、原边控制CV/CC，省掉光耦和TL431。</div>
          <div>5、QR工作模式，减少MOS开通损耗，优化EMI。</div>
          <div>6、多重保护模式：输出短路保护、输出过压保护、输出过流保护、原边电流检测电阻短路保护、过温保护等。</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="s-title yh">
          <a>3、Amlogic s905 OTT/IP-STB/HDMI Dongle解决方案</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/xiaofei/2015-09-08/2b5cd8a50ed7b2f3448780a61262cabd.jpg">
        </div>
        <div class="r s-intro">
          <p style="text-align: left;">&nbsp;Quad Cortex A53 CPU up to 2.0GHz ,PentaCore Mali-450 GPU ,28nm HPC</p>
          <p style="text-align: left;">&nbsp;16/32-bits DDR3/3L,LPDDR2/3 Up to 2G</p>
          <div style="text-align: left;">&nbsp; Full Format Video Decode,4Kp60 10-bit HEVC,4Kp30 MPEG/VC-1/AVS+/H.264；1080P FHD video encoding</div>
          <div style="text-align: left;">&nbsp; 4K2K 60fps video decode speed support 8/9/10-bit Format</div>
          <div style="text-align: left;">&nbsp; HDMI2.0(4K2K 60fps) transmitter with 3D, CEC and HDCP 2.2 support, a CVBS output, I2S and SPDIF digital
            audio input/output interfaces,&nbsp;</div>
          <div style="text-align: left;">&nbsp; a PCM audio interface, two-channel PDM digital MIC inputs and dual DVP camera interfaces,TS and smart card
            peripheral ports</div>
          <div style="text-align: left;">&nbsp; Ethernet support 10/100/1000M RGMII</div>
          <div style="text-align: left;">&nbsp; Advanced system interfaces: eMMC 5.0 ; SDIO 3.0 SDR104 for 11ac wifi; USB 2.0</div>
          <div style="text-align: left;">&nbsp; Secure Boot, TrustZone and Crypto Engine</div>
          <div style="text-align: left;">&nbsp; Supports Dolby, DTS , SRS, DivX HD</div>
          <div style="text-align: left;">&nbsp; Android L</div>
          <div style="text-align: left;">&nbsp; Package 13mm*13mm BGA</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="s-title yh">
          <a>4、Maxlinear MxL661 低功耗数字/模拟全球制式电视硅调谐器</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/xiaofei/2015-09-16/24e96522ef7982a0bbe464e8ae462fe8.jpg">
        </div>
        <div class="r s-intro">
          <p>
            <strong>&nbsp;Features：</strong>
          </p>
          <div>&nbsp; 44 MHz to 1002 MHz Tuning Range</div>
          <div>&nbsp; Reference Clock Output&nbsp;</div>
          <div>&nbsp; Programmable channel bandwith</div>
          <div>&nbsp; 2 Programmable IF&nbsp;</div>
          <div>&nbsp; 2 Programmable IF AGC interface；</div>
          <div>&nbsp; Analog/Digital Signal Type Detector</div>
          <div>&nbsp; IC Package： 4x4 mm2 QFN24</div>
          <div>&nbsp;</div>
          <div>
            <div>
              <strong>Standards Supported：</strong>
            </div>
            <div>&nbsp; PAL, SECAM, NTSC,</div>
            <div>&nbsp; DVB-T/T2, ISDB-T, ATSC, DTMB, ITU J.83 Annex A/B/C</div>
            <div>&nbsp;</div>
            <div>
              <strong>Applications:</strong>
            </div>
            <div>&nbsp; Hybrid Analog/Digital Televisions&nbsp;</div>
            <div>&nbsp; Tuner Modules&nbsp;</div>
            <div>&nbsp; Hybrid Set-Top Box Applications</div>
            <div>&nbsp; Portable Televisions&nbsp;</div>
            <div>&nbsp; Low Power Multi-Tuner Applications</div>
          </div>
          <div>&nbsp;</div>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="s-title yh">
          <a>5、Maxlinear MxL608 低功耗数字机顶盒硅调谐器</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/xiaofei/2015-09-16/ce2c0b261aeec1fbd4893bb9dcf05e5e.jpg">
        </div>
        <div class="r s-intro">
          <p>
            <strong>Features：</strong>
          </p>
          <p>&nbsp; 44 MHz to 1002 MHz Tuning Range&nbsp;</p>
          <p>&nbsp; Reference Clock Output&nbsp;</p>
          <p>&nbsp; Programmable channel bandwith</p>
          <p>&nbsp; Programmable IF frequence</p>
          <p>&nbsp; Programmable IF AGC interface；</p>
          <p>&nbsp; Integrated loop-through output</p>
          <p>&nbsp; IC Package： 4x4 mm2 QFN24</p>
          <p>&nbsp;</p>
          <p>
            <strong>Standards Supported：</strong>
          </p>
          <p>DVB-T/T2, ISDB-T, ATSC, ATSC M/H, DTMB, ITU J.83 Annex A/B/C</p>
          <p>
            <strong>Applications：</strong>
          </p>
          <p>&nbsp; Integrated Digital Televisions (iDTVs)</p>
          <p>&nbsp; Cable &amp; Terrestrial Set-Top Boxes</p>
          <p>&nbsp; Tuner Modules</p>
          <p>&nbsp; Portable TVs &amp; Media Players</p>
          <p>&nbsp; Blu-Ray Recorders</p>
          <p>&nbsp; Multi-Tuner PVR Applications</p>
        </div>
        <div class="clear"></div>
      </li>
    </ul>

  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
