<div class="w1000">
  <div class="main-title yh b-border">公司资讯
    <font>公司资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">决战未来，天午IoT与你共赢</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2016-07-27</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;天午IoT简介</p>
      <p></p>
      <section>
        <section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>天午科技是好上好控股旗下公司。公司成立于2010年，每年保持高速增长，今年预计销售业绩超过USD&nbsp;100M。现有员工80人，市场销售占60%，技术研发占20%。销售网络覆盖整个中国，在北京、上海、成都、青岛、厦门以及香港和台湾都设有办事处。天午是行业最早投入和重点布局IoT的公司之一，目前已推出Wearable\Smarthome等一系列成熟方案，快速支持客户量产和提供强大技术服务。通过IoT客户的精准服务和对市场判研，目前批量客户已覆盖国内互联网巨头和大型设备制造厂。目前，市场主流品牌手环、手表及支付类产品都可以看到天午IoT部门服务的身影。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/921a1e6ac6f2ffcb8ddf33f511e29c32.jpg" alt="664483808200354467.jpg" width="640"
            height="333">
          <br>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>Dialog公司简介</section>
            <section>
              <br>
            </section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>Dialog 成立于1980年，德国知名半导体公司，专注于高集成度的电源管理、超低功耗的Audio、短程无线技术及固态LED照明驱动（Iwatt）。产品广泛应用于手机、平板、车载、智能硬件等领域。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <br>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/c5ec4d44fea30d651ad86eee983931fd.jpg" alt="701560556329181457.jpg" width="600"
                  height="269">
                <br>
              </section>
            </section>
            <section>
              <section>
                <section>
                  <section>
                    <section>
                      <section>
                        <section>2015年5月，Dialog推出新一代1468X系列超低功耗单芯片蓝牙解决方案DA1468X，华为和小米手环率先在其新一代产品中导入，并于2015年11月投入量产。这是全球首款为可穿戴设备和其它可充电设备设计的单芯片解决方案产品，它能提供给客户高性能、低功耗、最小尺寸和低系统成本的方案。</section>
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>DA1468X主要特性</section>
              <section></section>
            </section>
          </section>
        </section>
      </section>
      <p></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p></p>
      <section>
        <section>
          <section>
            <section>
              <section>
                <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/6afd8e5cb37a217b451c4c93db67826c.jpg" alt="394219207557490630.jpg" width="615"
                  height="510">
                <br>
              </section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section></section>
      </section>
      <p></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p></p>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/8d5f97aac0a5878c4ffc9683097cf57c.jpg" alt="228621314022711657.jpg" width="640"
            height="403">
          <br>
        </section>
      </section>
      <section>
        <section>
          <br>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>DA1468X应用领域和优点</section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/ea4e4aeb621ac073e0046ba64ce7907d.jpg" alt="363255262394490059.jpg" width="557"
            height="278">
          <br>
        </section>
      </section>
      <section>
        <section>
          <br>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>YAMAH简介</section>
            <section>
              <br>
            </section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/d7f8cfba533c1cbb55005759c3db4ca0.jpg" alt="423603577990665252.jpg" width="640"
            height="185">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>雅马哈公司是在1887年成立，具有悠久历史的公司。雅马哈通过全世界范围的销售公司，在世界市场占有稳固的位置。如今，雅马哈在乐器、视听产品、信息技术、新媒体业务、家具、汽车配件、特种金属、音乐教育以及度假村等商业领域一直处于领先地位。</section>
                  <section>雅马哈公司的半导体事业从为雅马哈电子乐器设计提供音源芯片开始起步。通过电子乐器芯片的开发制造所积累的经验，后来又被大量运用于针对手机、游戏机等产品的芯片中。雅马哈在车载芯片，数字功放芯片等领域也进行了长期不懈的技术开发和积累，为全球客户提供了大量的半导体芯片产品。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>YMU537地磁Sensor特性</section>
              <section>
                <br>
              </section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/edd3849bb55befc7e6c27694644d19cc.jpg" alt="244242435197479088.jpg" width="557"
            height="304">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>YMU537地磁采用PMR原理，1.2*1.2封装，目前在在手机品牌客户大批量应用。
              <br>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>YMU831特性</section>
              <section>
                <br>
              </section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>随着电子产品市场的不断发展，越来越多的人使用耳机聆听高品质音乐。然而，城市的噪声污染越来越严重，在室外使用普通耳机，只能通过提高音量来盖过噪声，这样不但不能享受美妙的音乐，还会对听力造成影响。此时，如果想享受美好的音乐世界，那么降噪耳机成为最佳选择。做为音源芯片的领导者，&nbsp;YAMAHA半导体率先推出ANC降噪芯片YMU831,
              配备完整算法，可为客户提供完整的数字降噪耳机方案。</section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/e11290cff549b0a68085bd3555827e69.jpg" alt="667190461099352116.jpg" width="557"
            height="336">
          <br>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/a78d8006d610a50195be68f2aea95578.jpg" alt="181265111626810923.jpg" width="557"
            height="420">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>复旦微电子简介</section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/539a98734369d701314b23ab609af25c.jpg" alt="710411813350244596.jpg" width="300"
            height="150">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>如果说2015年是可穿戴设备的狂欢的话，那么2016年就可以称为移动支付设备的盛宴。尤其在Apple Pay的推出后，更是达到了顶峰。小米Pay、华为Pay、三星Pay的相继推出，标示着移动支付时代的到来。顺应市场需求，复旦微电子顺势针对可穿戴设备市场推出了安全支付芯片FM1280，该芯片可在可穿戴设备上实现公交和金融支付，并可搭配手机APP实现空中开卡、空中充值和消费查询等功能。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>FM1280特性</section>
              <section>
                <br>
              </section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/06632cb0120d786f24471fdf85c2d302.jpg" alt="641549363347585723.jpg" width="557"
            height="379">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>Partron 简介</section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/95cf5e01c77e6f479392802b00673ff2.jpg" alt="598132443542557327.jpg" width="300"
            height="150">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>韩国Partron成立于2003年，是由三星电机(Samsung Electro-Mechanics)所分拆出来的一家公司。该公司总部位于韩国京畿道，截至2015年总销售额为9亿美元，总员工数450人。Partron主要从事行动电话和电信设备等电子零组件制造生产及销售，是韩国移动通信用射频元件及石英晶体振荡器制造厂，主要生产产品包括：介质滤波器、双工器、指纹模组、手机镜头模块、石英晶体振荡器和贴片天线等。</section>
                  <section>
                    <br>
                  </section>
                  <section>随着现在人们生活水平的提高，个人健康越来越受到消费者的关注，这就给可穿戴设备提供了新的市场发展方向，针对于个人健康检测的可穿戴产品也越来越受到消费者的青睐。在此市场前提下，Partron联合TI共同推出了心率检测模组PPS960，并很快得到了客户的好评，三星电子开始在其手机和手表上大规模采用。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>PPS964特性</section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/471cb9743058f2b5d2d449833d037636.jpg" alt="440411262353400033.jpg" width="557"
            height="506">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>PPS964采用TI4404 Sensor，24bit ADC，工作状态下功耗仅为200uA，远低于其它竞争对手，独有的Offset cancellation DAC技术，使它在心率检测时的精度，可以媲美专业的医疗设备。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>全智景科技简介</section>
            <section>
              <br>
            </section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/82ba2d37f24906a82eb5d1ba05cc9c60.jpg" alt="825790722041000616.jpg" width="300"
            height="150">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>深圳市全智景科技有限公司，成立于2003年，是最早从事于OLED显示屏的研发设计，生产，销售为一体国家级高新企业的先驱者，开拓者。 以世界级的研发设计能力，先进的制程技术，生产设备，结合以市场为导向，根据客戶多樣化需求可随时提供量身定制的整体解决方案，经历数十年的努力，在OLED行业中，公司赢得了极佳的市场口碑及海内外客户的青睐，在OLED行业中占领重要的一席之地。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>OLED可穿戴市场主流型号参考</section>
              <section>
                <br>
              </section>
            </section>
            <section></section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/5553e11f401de9928d42817928c9d2a2.jpg" alt="127864776218198850.jpg" width="640"
            height="520">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>Ambiq Micro产品简介</section>
            <section>
              <br>
            </section>
          </section>
          <section></section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/4fcb485e13b13813e1943eab9259d8b6.jpg" alt="514752578401511715.jpg" width="287"
            height="72">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>
                  <section>Ambiq Micro于2010年成立，秉持 "极低功耗半导体是未来电子行业的关键" 的理念。Ambiq Micro开发了专利的亚阈值功率优化技术(Subthreshold Power Optimized
                    Technology, SPOT™)平台，能够显著降低半导体器件所消耗的功率，并使用该技术生产了世界功耗最低的实时时钟(RTC)和微控制器(MCU)Apollo。</section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/48a8e1ade342c6cba74c80ee314b5af3.jpg" alt="50931775407464203.jpg" width="640"
            height="306">
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>Apollo是全世界最低功率MCU</section>
            <section>Apollo系列微控制器是低功率MCU世界的量子级大跃进。目前，功率敏感的应用所要寻求的并非渐进式降低能耗 ——它们需要革新性进步，这正是Apollo MCU所提供的。这些高集成度微控制器在工作模式和睡眠模式的功率数值均处于业界领先地位。此外，它们基于ARM
              Cortex-M4F内核， 然而功率水平还要低于ARM Cortex-M0+参照方案。无与伦比的节能及高性能处理引擎使得Apollo MCU成为电池供电设备及其它功率敏感应用的理想解决方案。</section>
          </section>
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/d7b28eea35d4e4a080d14f6130121960.jpg" alt="806766989267131637.jpg" width="387"
            height="572">
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/6277a05bb7719f2da4f3437b593d3d84.jpg" alt="369452356444766733.jpg" width="640"
            height="343">
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/d1d562cc05a9ae2d6e40a583964cc915.jpg" alt="343934479673363946.jpg" width="234"
            height="251">
        </section>
      </section>
      <section>
        <section>
          <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/03c08234737eab3bcf2c3bb14305b3bd.jpg" alt="215239518164888572.jpg" width="640"
            height="402">
        </section>
      </section>
      <section>
        <section></section>
      </section>
      <img src="http://www.skynoon.com/d/file/news/gszx/2016-07-27/fca7e435f9d2c66ea81a4096e0e03c71.jpg" alt="232626290649951527.jpg" width="640"
        height="250">
      <section>
        <section>
          <br>
        </section>
      </section>
      <section>
        <section>
          <section>
            <section>
              <section>
                <section>更多IoT产品信息，请联系当地办事处销售人员或者：</section>
              </section>
              <section></section>
              <section></section>
            </section>
            <section>
              <section>
                <section>
                  <section>
                    <section>深圳总部PM：张昊/Harman</section>
                    <section>直线：86-755-8696 4983</section>
                    <section>传真：86-755-8696 4933</section>
                    <section>手机：86-186 0755 6257</section>
                    <section>邮箱：Harman.zhang@skynoon.com</section>
                    <section>&nbsp;</section>
                    <section>华东区市场销售经理：万平华/Jason Wan</section>
                    <section>直线：86-21-61496926-606</section>
                    <section>传真：86-21-54071242</section>
                    <section>手机：86-186 2108 0775</section>
                    <section>邮箱：jason.wan@skynoon.com</section>
                    <section>&nbsp;</section>
                    <section>华北区市场销售经理：陈文龙/Wenlong Chen</section>
                    <section>直线：86-0532-85807123</section>
                    <section>传真：86-0532-85807120</section>
                    <section>手机：86-189 5327 9218</section>
                    <section>邮箱：Wenlong.chen@skynoon.com</section>
                    <div>&nbsp;</div>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
      <p></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
