<div class="w1000">
  <div class="main-title yh b-border">人才招聘
    <font>人才招聘</font>
  </div>
  <div class="h20"></div>
  <div class="job clear">
    <div class="job-img">
      <img src="http://www.skynoon.com/images/job-img.jpg" alt="">
    </div>
    <div class="job-text">走进天午，这里自由的思想气息、广阔的发展空间、融洽的伙伴关系、活跃的生活气氛，一定会让你体会 到一份清新、自然、舒畅的"家"的感觉。正是带着这种对"家"的热爱和眷恋，优秀的天午人创造了一 个又一个佳绩，为公司的稳步发展立下了汗马功劳。
      同样，天午将不断搭建平台，为每一位优秀人才提供优厚的待遇，广阔的发展空间。让每一位优秀人才能够实现自己的创业梦想，分享天午的成长。 未来，我们竭诚欢迎您的加入，相信我们的家庭能够因你而更加精彩！</div>
    <div class="clear"></div>
    <table class="table job-list">
      <tbody>
        <tr>
          <th>职位名称</th>
          <th>工作地点</th>
          <th>截止日期</th>
        </tr>

        <tr>
          <td>
            <a href="/job/119.html" title="FAE电源工程师（DC-DC）">FAE电源工程师（DC-DC）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="/job/118.html" title="采购员">采购员</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="/job/117.html" title="大客户经理（TV tuner）">大客户经理（TV tuner）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="/job/116.html" title="客户经理/销售工程师（Amlogic）">客户经理/销售工程师（Amlogic）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="/job/115.html" title="客户经理（IOT 手环 耳机）">客户经理（IOT 手环 耳机）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>

        <tr>
          <td>
            <a href="/job/114.html" title="软件工程师(BLE 蓝牙应用）">软件工程师(BLE 蓝牙应用）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <a href="/job/113.html" title="通信技术支持工程师（基站 微波 光模）">通信技术支持工程师（基站 微波 光模）</a>
          </td>
          <td>南山区科技园中区科兴科学园B3-605</td>
          <td></td>
        </tr>
        <!--list.var3-->
        <!--list.var4-->
        <!--list.var5-->

      </tbody>
    </table>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
