<div class="w1000">
    <div class="main-title yh b-border">关于我们
        <font></font>
    </div>
    <div class="h20"></div>
    <div class="a-content">
        <div class="company"><img src="http://www.skynoon.com/d/file/about/jianjie/2015-08-05/56f202a8107809834c08624f6e1699a2.jpg" alt="company-img.jpg" width="248" height="138">
            <h3>Skynoon-A Professional Component Distributor &amp; Solution Provider</h3>
            <div class="company-p">
                <p class="MsoNormal"><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;">天午科技是好上好控股有限公司旗下的公司之一。公司成立于<span lang="EN-US"> 2010 </span>年，现有员工<span lang="EN-US">80</span>多人，市场销售占<span lang="EN-US"> 60% </span>、技术研发占<span lang="EN-US"> 20% </span>。总部设在深圳，销售网络涵盖整个中国，在北京、上海、成都、厦门、青岛，以及香港、台湾设有分公司或办事处，专注于芯片分销和方案设计，聚焦在消费市场、照明市场、手机市场、可穿戴市场，是国内的优秀代理商之一。
                    <span lang="EN-US">
                        </span>
                    </span>
                </p>
                <p><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">精耕细作、持之以恒是天午的行销策略。先后获得诸多国际著名芯片厂商在中国的授权代理商，如</span><span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;"> Amlogic</span><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">、</span>
                    <span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">Bridgelux</span><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">、</span><span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">Dialog</span>
                    <span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">、</span>
                    <span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">ESMT</span><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">，</span><span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">Maxlinear</span>
                    <span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">、国民技术</span>
                    <a name="_GoBack" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;"></a><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">、</span><span lang="EN-US" style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">Yamaha</span><span style="font-family: 微软雅黑, sans-serif; font-size: 9pt;">等等。供应商涵盖欧美，日韩、台湾，本土，提供具有竞争性的产品解决方案和配套产品。同时，天午将不断加大产品销售和技术研发投入，与更多的业界精英建立，优质客户建议了伙伴关系，共同开拓极具潜力的中国市场。</span></p>
                <p>任人唯贤、协作高效，充满朝气是天午公司的一贯风格。我们始终明白：我们仍然处在创业期，面对外部的竞争，我们必须具有狼性，保持饥饿感。公司始终强调简单、透明的信息沟通，发扬互帮、互助的团队精神；营造开放、信任的文化氛围，尊重个人的灵活创新，倡导员工的忠诚奉献；共同分享成功。</p>
            </div>
        </div>
        <div class="company-logo">
            <div class="l"><img src="http://www.skynoon.com/d/file/about/jianjie/2015-08-05/9fe9e10ac992324ab66139550076ac8b.jpg" alt="logo.jpg" width="200" height="63"></div>
            <div class="company-p r">
                <p>“天午”源自于“锄禾日当午”，代表着阳光下的辛勤劳作。 无论环境好坏，亦或烈日炎炎，还是狂风骤雨，天午都会靠自己的智慧和勤劳持续开拓属于自己的天空</p>
                <p>天午的logo设计，简洁而不简单。其中左上角方块取自芯片的形状，带有强烈的科技感，代表着天午对电子科技的专注与热爱</p>
                <p>logo选用清新的绿色，代表着天午是一家崭新的公司，充满了生机与活力。一群开拓者，他们朝气蓬勃，充满力量与冲劲，以“拼字当头”承载着天午的现在和未来，这正是绿色所代表的意义——希望</p>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="company-ry">
            <div class="company-ry-title yh">战略合作客户</div>
            <ul class="clear">
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-07/bced6e5db23f3cb1e08de311f9539319.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/edaf3657c567024fa65d08a4e214ffc1.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/c5bf69f729116dd2ab7f949a67ae043d.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/1bd2338bc6524e7f86c8cff810c0b4cd.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/65384fb71f69b0831000bc3783f663db.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/0b01cd3e162f2d712eb427aad1cfae54.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/6c3147d2a5d6c87d23deacec1c465c11.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/dbec839883477f909517b20e8be729e3.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/1b61aff404890f33d52c723bece92b45.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/59c30a53f185b51384290286f2335ad8.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/ba5df0a422ee7b5f0266e9e76719f8f0.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/3dce5be341c508d121b1643c5935f324.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/6f72474090f8ae7a185092a9b3aaa004.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/92488bf83ad4c499d10b1e3c3737c218.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/92a8b07c50c16fc60dbd0c9ebf699918.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/1ae0dd68411203bca45de05f43fc1220.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/e6c9bf1465c965ea6dec2d869634d3ab.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/af1a4140759796e165dbd6e867a3577e.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/9231fbae421f2c357356fb72e1f14b6b.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/d62b26fa21249b0417af825dc98fba81.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/023845317d65c3a6cb2feea5c7652b3f.jpg"></li>
                <li><img src="http://www.skynoon.com/d/file/about/hezuo/2015-08-06/2aa1edebd652956ecb66aa8231b1311a.jpg"></li>
            </ul>
        </div>
    </div>
    <div class="h20"></div>
    <div class="page"></div>
    <div class="h50"></div>
</div>