<div class="w1000">
    <div class="main-title yh b-border">公司活动
        <font>公司活动</font>
    </div>
    <div class="h20"></div>
    <div class="a-list">
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/7.html"><img src="http://www.skynoon.com/d/file/about/huodong/2016-12-30/c6e3fbdc257775f916820ebef3e54d6d.jpg"></a><a href="/about/huodong/7.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/7.html" class="img-a">2016年会盛典</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/6.html"><img src="http://www.skynoon.com/d/file/about/huodong/2016-08-08/6f1c4df677fee2ff9e22514d75b2a3a7.jpg"></a><a href="/about/huodong/6.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/6.html" class="img-a">2016年趣味游泳比赛(图文)</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/5.html"><img src="http://www.skynoon.com/d/file/about/huodong/2016-06-20/c9fdd50b580b43de3c09d2f8ca3ba999.jpg"></a><a href="/about/huodong/5.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/5.html" class="img-a"><strong>2016BOB出游季</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/4.html"><img src="http://www.skynoon.com/d/file/about/huodong/2016-03-09/7d8e436b9512a6df634ce5aa17c7249c.jpg"></a><a href="/about/huodong/4.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/4.html" class="img-a">2015年会盛典</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/3.html"><img src="http://www.skynoon.com/d/file/about/huodong/2015-08-10/8a120a6ade8a997194405fe81cd68b35.jpg"></a><a href="/about/huodong/3.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/3.html" class="img-a">原厂交流</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/2.html"><img src="http://www.skynoon.com/d/file/about/huodong/2015-08-10/496f23e46b36e76b94cf52049cc50e7a.jpg"></a><a href="/about/huodong/2.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/2.html" class="img-a">全民运动，全民健身</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="list-img">
                    <a href="/about/huodong/1.html"><img src="http://www.skynoon.com/d/file/about/huodong/2015-08-10/1e08254fb130ba360a24775fd981b5c6.jpg"></a><a href="/about/huodong/1.html" class="mnone"><span>查看更多</span></a></div>
                <a href="/about/huodong/1.html" class="img-a">2015年旅游-世界那么大，天午带你去看看</a>
            </li>
        </ul>
    </div>
    <div class="h20"></div>
    <div class="page"></div>
    <div class="h50"></div>
</div>