.w1000 {
    width: 1000px;
    margin: 0 auto;
    clear: both;
    .main-title {
        font-size: 16px;
        color: #33cc33;
        margin-bottom: 10px;
        border-bottom: 1px solid #e9e9ea;
        padding-bottom: 8px;
        font {
            font-size: 14px;
            color: #333;
            margin-left: 10px;
        }
    }
    .a-list {
        ul {
            li {
                width: 230px;
                float: left;
                margin: 0 10px;
                .list-img {
                    padding: 14px;
                    border: 1px solid #d7d7d7;
                    position: relative;
                    img {
                        vertical-align: top;
                        max-width: 100%;
                        width: 200px;
                        height: 200px;
                    }
                    a.mnone {
                        display: block;
                        width: 200px;
                        height: 200px;
                        background-color: rgba(0, 0, 0, 0.8);
                        color: #fff;
                        position: absolute;
                        z-index: 10;
                        top: 14px;
                        left: 14px;
                        background-image: url(http://www.skynoon.com/images/see_more.png);
                        background-repeat: no-repeat;
                        background-position: center 51px;
                        text-align: center;
                        display: none;
                        span {
                            display: inline-block;
                            width: 100px;
                            text-align: center;
                            border-bottom: 2px solid #fff;
                            font-size: 14px;
                            padding: 105px 0 12px;
                        }
                    }
                }
                .img-a {
                    display: block;
                    padding: 9px 5px 0;
                    line-height: 22px;
                    color: #666666;
                }
                .img-a:hover {
                    color: #33cc33;
                }
            }
            li:hover {
                .list-img {
                    a.mnone {
                        display: block;
                    }
                }
            }
        }
    }
}

.h20 {
    height: 20px;
    clear: both;
}

.h50 {
    height: 50px;
    clear: both;
}

.clear {
    clear: both;
    display: block;
} // 移动端
@media screen and (max-width: 999px) {
    .w1000 {
        padding: 0 8px;
        width: auto;
        img {
            max-width: 100% !important;
        }
    }
}