<div class="w1000">
  <div class="main-title yh b-border">行业资讯
    <font>行业资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">乐视网上半年净亏6亿 公告九大风险：负债余额193亿</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2017-08-29</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;8月28日晚间，乐视网披露了2017年半年度报告，2017年上半年，乐视网实现营业总收入55亿元，同比减少44.56%；实现归属上市公司股东净利润-6.37亿元。</p>
      <p>乐视网称，亏损原因主要有以下三点：1、报告期内，由于公司所处行业特点，当期的版权摊销、CDN以及人力成本等营业成本并未下降，但由于受到乐视体系关联方资金状况的影响，加之公司品牌受到一定冲击，随之客户粘性出现波动，公司的广告收入、终端收入以及会员收入均出现较大幅度的下滑。2、为了坚持精品内容的独播策略，公司在二季度基本未对外进行版权分销业务，导致版权分销收入同期也大幅下滑。3、报告期内，公司资产减值损失计提规模较大，约为2.4亿元（已经第三届董事会第四十七次会议审议通过），其中无形资产版权减值准备1.56亿元、存货跌价准备201.9万元、应收账款坏账准备8030.7万元，贷款损失准备42.5万元。</p>
      <p>乐视创始人贾跃亭仍以25.67%的持股比例，位列乐视网第一大股东。</p>
      <p>关于被冻结资产，截至报告期末，乐视网银行存款余额中，冻结款项2907万元，TCL多媒体控股股权并购项目保证金21.5亿元；应收账款中2.62亿元有追索权的保理业务金额受限；可供出售金融资产中价值2761万元的股权已被质押；长期股权投资中价值1103.4万元的股权已被质押。</p>
      <p>值得一提的是，乐视网在半年报中，还以较大篇幅，详述了公司面临的风险和应对措施，主要包括九方面内容：公司盈利能力波动，实际控制人变更，公司现金流紧张，潜在诉讼，并购重组整合，互联网视频内容监管政策，应收款项回收，资产负债率较高险，无形资产减值等。</p>
      <p>其中，应收账款方面，乐视网披露，截至2017年6月30日，公司应收账款账面价值为95.42亿元，占资产总额的比重为26.70%，较高的应收账款余额导致公司流动资金产生了一定程度的短缺。同时，截至2017年6月30日，关联方应收账款余额24,089.34万元，占总应收账款的比重为51.85%。关联方应收账款余额较2016年12月31日增加143,897.87万元，主要系报告期内，公司现有业务正常开展中涉及部分关联交易；原有业务与结算延续导致关联方应收账款的发生；同时公司在报告期内对与非上市体系进行切割，导致新增部分一次性关联交易。</p>
      <p>在负债方面，截至2017年6月30日，乐视网负债余额为193.5亿元，其中，短期借款余额为21.1亿元，一年内到期的非流动负债为23.59亿元，资产负债率达54.14%（合并报表口径）较2016年度下降。</p>
      <p>乐视网主要子公司及对净利润影响达 10%以上的参股公司情况。</p>
      <p>&nbsp;</p>
      <p>下为乐视网公告中提及的公司面临的风险和应对措施：</p>
      <p>&nbsp;</p>
      <p>1、公司盈利能力波动的风险</p>
      <p>&nbsp;</p>
      <p>公司目前的主营业务为智能终端产品销售、广告业务、会员及发行业务，收入与互联网市场及用户粘性相关度较大，由于关联方资金紧张流动性风波影响，引发一系列负面媒体报道，对公司声誉和信誉度造成影响，对公司供应商合作体系造成较大影响，从产品供应到账期授予等均产生负面压力，同时客户粘性出现波动，影响其超级电视销售和会员续费，造成公司电视、会员等销售收入下滑，上半年业绩亏损。</p>
      <p>公司将不断优化、调整、提升内控管理水平，建立和完善内部治理和组织结构，形成科学的决策、执行和监督机制，保证公司经营管理合法合规以及经营活动的有序进行，促进企业实现发展战略，保障公司盈利能力的稳定。</p>
      <p>2、实际控制人变更的风险</p>
      <p>贾跃亭先生持有公司股票100%被全部冻结，并且所持有公司股票质押率近100%。若贾跃亭先生无法偿还前述冻结和质押所涉及的债务本金和利息，则前述冻结股权存在部分被强制执行的风险，从而带来实际控制人变更的风险。</p>
      <p>3、公司现金流紧张的风险</p>
      <p>关联方资金紧张流动性风波，引发一系列负面媒体报道，对公司声誉和信誉度造成影响，对公司在金融机构的正常债券融资等带来较大影响，银行信贷等不能继续正常发放。其次，因公司存在的较高金额的关联交易，关联方资金紧张的风波，使得公司关联方应收账款增加，回款不能及时完成。以上，对公司现金流入带来负面影响，公司现金流紧张将影响公司正常运营。</p>
      <p>公司通过与金融合作机构洽谈以及提供必要增信措施、债转股等各种方式，缓解目前现金流紧张的情况，并且通过一些列内部管理措施的调整，管理人员的匹配，希望能全面提升上市公司与金融机构及交易伙伴的深度合作关系，快速促进上市公司在财务管理、资产优化等方面的提升。</p>
      <p>4、潜在诉讼带来的风险</p>
      <p>乐视非上市体系关联方目前涉及诉讼较多，上市公司因为关联关系，不排除因此导致的潜在诉讼风险，同时公司目前现金流紧张，不排除出现潜在的业务纠纷，对公司的正常生产经营造成影响。</p>
      <p>公司对目前关联方情况做以排查，对于可能涉及到上市公司的潜在诉讼提示关联方重点进行解决，同时通过法律途径，保护自身安全，随着公司现金流紧张情况的缓解，潜在业务纠纷也将得到解决。</p>
      <p>5、并购重组整合风险</p>
      <p>本公司拟以现金和发行股份相结合的方式购买乐视影业股权，获得乐视影业100%股权，2016年5月6日，公司已披露《乐视网信息技术（北京）股份有限公司发行股份及支付现金购买资产并募集配套资金暨关联交易预案》，公司及聘请的中介机构正在积极推进本次重大资产重组的各项工作。本次重大资产重组尚需公司再次召开董事会审议通过正式方案，且需股东大会审议通过并报中国证监会核准，能否取得上述核准以及最终取得核准的时间均存在不确定性，并且交易双方能否通过整合既保证公司对乐视影业的控制力又保持乐视影业原有竞争优势，并充分发挥交易双方的协同效应，具有不确定性，存在审批不通过与整合失败风险。</p>
      <p>6、对于互联网视频内容监管的政策风险</p>
      <p>为实现公司与竞争对手差异化的内容策略，公司加大了网络剧、网络栏目等自制内容的投入，在为公司建立内容优势的同时，也使公司面临该项业务的合规风险。根据广电总局和国家互联网信息办公室联合发布的《关于进一步加强网络剧、微电影等网络视听节目管理的通知》及其补充通知的规定，目前网络自制内容执行“自审制”，由视频网站运营商组建内容审核小组对自制内容进行审核，通过后方可播出。公司已建立了完善的内容质量控制体系，并严格按照监管部门的要求对视频内容进行审核。但如果监管部门对网络自制内容的审核标准发生变化，公司将对已上线的网络自制内容进行重审或下线，可能会对公司的经营造成一定的影响。</p>
      <p>7、应收款项回收风险</p>
      <p>截至2017年6月30日，公司应收账款账面价值为954,244.55万元，占资产总额的比重为26.70%，较高的应收账款余额导致公司流动资金产生了一定程度的短缺。同时，截至2017年6月30日关联方应收账款余额24,089.34万元，占总应收账款的比重为51.85%。关联方应收账款余额较2016年12月31日增加143,897.87万元，主要系报告期内，公司现有业务正常开展中涉及部分关联交易；原有业务与结算延续导致关联方应收账款的发生；同时公司在报告期内对与非上市体系进行切割，导致新增部分一次性关联交易。</p>
      <p>关联方应收账款的还款保障措施：</p>
      <p>1）除已偿还和小额欠款，公司已与主要欠款方达成还款计划，根据还款计划的约定，前述应收账款将分阶段还款，并最终定于2017年年末全部收回。实际控制人贾跃亭将督促相关主体按照双方约定付款进度付款。但截至目前，主要欠款方资金情况持续紧张，未严格执行还款计划。</p>
      <p>2）随着引入战略投资者及其他投资者，非上市公司的资金紧缺情况正在陆续解决中。未来非上市部分的优势业务将稳定发展，大力提升业绩水平；非优势业务，收缩战略，立足于精细化运营，产生正向现金流。在这种战略规划下，非上市公司逐步产生的稳定正向现金流将成为上市公司应收账款还款的保障之一；同时，非上市公司通过变卖部分资产、积极引入新的投资者等方式筹措的资金也将成为公司应收账款还款的重要保障。截止目前，变卖部分资产、引入新的投资者等筹资工作正在按照计划推进。</p>
      <p>3）上市公司与关联方之间积极寻求应收账款问题解决方式，不排除将关联方优质资产装入上市公司以其作价抵债。目前上市公司正在与相关方商议受让乐视投资管理（北京）有限公司100%股权事宜，乐视投资旗下乐视金融类业务优先部署支付牌照、小额贷款牌照、乐信金服平台，并配套财讯平台、财富管理及其相关牌照，目前正积极部署民营银行、保险、征信等方面的牌照申领。目前此事项相关的审计评估工作正在积极推进中，如若交易达成，将良好解决公司的部分关联应收款问题，并且此次投资对于乐视网在融资渠道、资金筹划、管理等方面经验及资源积累有重大战略意义。</p>
      <p>4）上述应收账款的回收情况取决于各关联公司的经营和筹资情况，控股股东和实际控制人贾跃亭对上述应收账款提供了担保。2017年1-6月，关联方应收账款还款282,612.20万元。</p>
      <p>综上所述，在相关各方严格执行上述还款保障措施的前提下，关联方应收账款的还款将得到有效保障，但截至目前，主要欠款方因资金情况持续紧张及实际控制人贾跃亭及其关联方资产被银行采取保全措施，应收账款的回款受到影响，主要欠款方未严格执行还款计划。如果上述情况持续存在，则会在实质上影响剩余应收账款的可回收性。</p>
      <p>8、资产负债率较高风险</p>
      <p>公司近几年业务快速发展，截至2017年6月30日，公司负债余额为1,935,111.47万元，其中，短期借款余额为211,067.59万元，长期借款余额为297,695.03万元，一年内到期的非流动负债为235,853.33万元，资产负债率达54.14%（合并报表口径）较2016年度下降。公司负债总额和资产负债率较高，增加了资金管理难度，同时也增加了利息费用的支出，从而带来一定的偿债风险。</p>
      <p>9、无形资产减值风险</p>
      <p>截止2017年6月30日，公司的无形资产为862,840.59万元，占总资产的比重为24.14%，占比较高，主要是采购的版权增加所致。如果购买的版权不能及时的商业变现，或随着影视剧的更新速度加快，无形资产可能面临一定减值，会影响到公司经营现金的流入。</p>
      <p>鉴于此，公司本着谨慎性原则，已建立了充分完整的资产减值测试制度，其中影视剧版权的减值测试方法、依据、参数如下：</p>
      <p>测试方法：如果影视剧版权存在减值迹象，公司将通过估算整体版权库可收回金额对其进行减值测试。可收回金额是其续存期内所带来各期广告业务收入、付费业务收入、版权分销业务收入减去直接成本的折现值。</p>
      <p>测试依据：根据《企业会计准则第8号-资产减值》，第六条 资产存在减值迹象的，应当估计其可收回金额。第十八条有迹象表明一项资产可能发生减值的，企业应当以单项资产为基础估计其可收回金额。企业难以对单项资产的可收回金额进行估计的，应当以该资产所属的资产组为基础确定资产组的可收回金额。</p>
      <p>公司的经济利益实现方式包括了广告业务收入、付费业务收入、版权分销业务收入以及终端业务收入等多种模式，而多种收入模式并不依赖于单独某一部影视剧作品，而是基于公司持续不断扩充的“影视剧库”产生的，实现了单片影视剧简单加总无法产生的聚合效应。公司的全部影视剧内容组成“影视剧库”，形成为不可分割的一项整体资源。不断丰富的“影视剧库”是公司持续经营的核心资源，是公司用户数量保持持续增长的主要保障，高速推动着公司各项基于“影视剧库”的业务运营，因此公司只适用于以“影视剧库”整体作为资产组进行减值测试，而非针对单个影视剧作品。
        澎湃新闻</p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
