<div class="w1000">
  <div class="main-title yh b-border">行业资讯
    <font>行业资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">中兴物联拿下中国电信“宇宙第一标” 独家供应50万片NB-IoT模组</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2017-10-18</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;10月17日，中国电信NB-IoT模组高达50万片“宇宙第一标”招标结果出炉，深圳市中兴物联科技有限公司独家中标，中选金额为每片NB-IoT模组36元（含税），总量为50万片。移远通信为备选供应商。</p>
      <p>&nbsp;</p>
      <p>“宇宙第一标”：每片补贴30元
        <br>
        <br> 该项目是中国电信组织的最大规模NB-IoT模组促销比选活动，该活动引起了业内高度关注，曾被业界称为“宇宙第一标”。据了解，中兴物联、芯讯通、移远通信等12家知名模组厂家参与了本次“宇宙第一标”的竞标，12选1，足见本次招标的竞争激烈程度。
        <br>
        <br> 这次招标历时1个月，中国电信采用了综合评估法，总分100分的情况下价格占60分、技术性能20分、企业情况8分、服务支持12分。根据招标规则，中国电信将根据各厂家的综合排名，选取第一名作为中国电信唯一的NB-IoT模组合作伙伴，在全国范围内联合促销推广NB-IoT模组，为50万片NB-IoT模组选取唯一供应商。
        <br>
        <br> 据悉，中国电信将为中标厂商提供丰富补贴。中兴物联副总裁朱克功在接受媒体采访时透露，本次招标中国电信承诺为中标厂商提供每片30元的补贴，相比之前的20元提升了50%，接近模组价格的一半，力度非常之大，也就说，中兴物联实际中标价格应为66元，对于终端厂商而言，这个价位可以便于大量购入模组进行相关终端的开发，以利于相关行业的发展。
        <br>
        <br> 本次招标不仅对中国电信推广NB-IoT意义重大，中兴物联更是受益匪浅。对中兴物联而言，独家夺得NB-IoT模组“宇宙第一标”，为明年争夺市场份额打下了很好的基础。
        <br>
        <br> 深圳市中兴物联科技有限公司是由中兴通讯股份有限公司和高新兴科技集团股份有限公司共同投资。
        <br>
        <br> 朱克功表示，中兴物联已经在今年8月成立了全资子公司高新兴物联，后续模组相关业务将会切换至高新兴物联，藉由本次大单，高新兴物联将盛装亮相，成为运营商拓展物联网的重要合作伙伴。
      </p>
      <p>&nbsp;</p>
      <p>为何独取一家？
        <br>
        <br> 事实上，中国电信本次招标的主要目的，是促进NB-IoT行业门槛和成本降低，并非在NB-IoT模组上“压迫”供应商。此前据一份内部流出的文件显示，中国电信本次NB-IoT招标一个主要目的是降低当前居高不下的NB-IoT模组成本，力争在今年底降至5-6美元每片。
        <br>
        <br> 今年5月份，中国电信召开了物联网发展政策恳谈会，表示将拿出3亿元进行物联网专项补贴激励，重点支持NB-IoT与CAT1两大类产品。其中，2亿元用于物联网CAT1单模产品和NB-IoT产品补贴：CAT1单模产品补贴额为40元/模块，NB-IoT产品补贴额20元/模块。
        <br>
        <br> 一直以来，NB-IoT模组的价格居高不下被行业认为是阻碍NB-IoT规模化应用的主要瓶颈，只选择一家供应商也是出于中国电信为降低行业成本考虑。
        <br>
        <br> 如果分散份额，各家厂商都拿不到太多订单，难以产生规模效应，规模效应是降低产品开发成本的关键因素。可以说，这是一个特殊的招标，“赢家通吃”。
        <br>
        <br> 本次招标50万片NB-IoT，只选了一家供应商，中国电信其他模组合作伙伴难免会委屈伤心。不过，本次招标并非决定了各厂商的未来，只是更大规模商用的前奏。
        <br>
        <br> 对其他模组厂商来说，这更像是中国电信的一次激励：激励他们更加努力降低成本、提升产品性能和服务能力，明年瓜分整个产业界的更大蛋糕。
      </p>
      <p>&nbsp;</p>
      <p>明年还有千万级大蛋糕
        <br>
        <br> “今年NB-IoT主要是在一些重点城市部署，明年才会真正启动，到时候就不是50万片模组，而是千万级，这是一个潜力巨大的市场。”朱克功说。
        <br>
        <br> 近两年，政府对NB-IoT发展给予了大力支持。工信部此前下发了《全面推进移动物联网(NB-IoT)建设发展的通知》，要求到2017年末，实现NB-IoT网络覆盖直辖市、省会城市等主要城市，基站规模达到40万个；到2020年，NB-IoT网络实现全国普遍覆盖，面向室内、交通路网、地下管网等应用场景实现深度覆盖，基站规模达到150万个。
        <br>
        <br> 从市场层面看，NB-IoT的低功耗、广覆盖、大容量、低维护成本等特质，成为替代GSM网络的首选，已经有很多应用迫不及待。例如号称中国“新四大发明”的共享单车，目前接近100%采用GSM模块通信，明年起将逐步升级到NB-IoT，这就有数千万片的市场规模。更别提智能水表、智能气表、智能路灯……
        <br>
        <br> 据了解，中国移动将在11月启动物联网模组集采，中国联通也有地方公司开始试点商用。
      </p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
