<div class="w918">
    <div class="banner">
        <img src="http://www.skynoon.com/d/file/p/2015-08-06/b9efefae8b57ae99e33e9b54318e7010.jpg" alt="" srcset="">
    </div>
</div>
<div class="h50"></div>
<div class="w1000">
    <div class="main-title yh b-border">联系我们
        <font>联系我们</font>
    </div>
    <div class="h20"></div>
    <div class="contact">
        <p class="p1">感谢您访问天午公司网站，您有任何需求、疑问和投诉，请致电天午公司 或 Email至sales@skynoon.com,我们将竭诚为您服务。</p>
        <div class="h20">&nbsp;</div>
        <div class="contact-slide">
            <div class="code">
                <div class="code-img"><img src="http://www.skynoon.com/d/file/lianxi/about/2015-08-05/9125a23c98587df76ab57d8ffbb563a1.jpg" alt="code.jpg" width="116" height="116"></div>
                <div class="code-text yh">扫描关注微信公众账号获取最新行业资讯</div>
            </div>
            <div class="hd">
                <ul class="yh clear">
                    <li class="on">深圳总部</li>
                    <li>华南区</li>
                    <li>华东区</li>
                    <li>华北区</li>
                </ul>
            </div>
            <div class="bd">
                <div class="contact-call">
                    <div class="call-title yh">深圳总部</div>
                    <div class="call-info">
                        <p>地址：深圳市南山区科技园南区飞亚达科技大厦东座1201室</p>
                        <p>电话：86-755-86964833</p>
                        <p>传真：86-755-86964933</p>
                    </div>
                    <div class="call-title yh">香港办事处</div>
                    <div class="call-info">
                        <p>地址：香港新界葵涌工业街24-28号威信物流中心14楼全层</p>
                        <p>电话：852-21454590</p>
                        <p>传真：852-26904200</p>
                    </div>
                </div>
                <div class="contact-call" style="display: none;">
                    <div class="call-title yh">厦门办事处</div>
                    <div class="call-info">
                        <p>地址：厦门市湖里区江头吕岭路75-77号长安大厦17楼G--1室</p>
                        <p>电话：86+13656021815</p>
                        <p>传真：86-592-5599609</p>
                    </div>
                </div>
                <div class="contact-call" style="display: none;">
                    <div class="call-title yh">上海办事处</div>
                    <div class="call-info">
                        <p>地址：上海市徐汇区凯旋路3131号明申中心大厦1308室</p>
                        <p>电话：86-021-61496926</p>
                        <p>传真：86-21-54071242</p>
                    </div>
                    <div class="call-title yh">宁波办事处</div>
                    <div class="call-info">
                        <p>地址：宁波市海曙区环城西路南段158弄39号丽园尚都B座609室</p>
                        <p>电话：86+158 8803 6883</p>
                        <p>传真：86-574-87061565</p>
                    </div>
                </div>
                <div class="contact-call" style="display: none;">
                    <div class="call-title yh">北京分公司</div>
                    <div class="call-info">
                        <p>地址：北京市海淀区知春路23号量子银座1006室&nbsp;</p>
                        <p>电话：86-10-82358601/02/03/04&nbsp;</p>
                        <p>传真：86-10-82358605</p>
                    </div>
                    <div class="call-title yh">青岛办事处</div>
                    <div class="call-info">
                        <p>地址：青岛市崂山区香港东路458号悦海豪庭30#-202A室</p>
                        <p>电话：86+13854206825</p>
                        <p>传真：86-532-85807120</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h20"></div>
    <div class="page"></div>
    <div class="h50"></div>
</div>