<div class="w918">
  <div class="main-title yh b-border">解决方案
  </div>
  <div class="h20"></div>
  <div class="s-blist">
    <ul>
      <li>
        <a [routerLink]="['/fangan/xiaofei']">
          <img src="http://www.skynoon.com/d/file/p/2015-08-07/d133fe3bc868e34b98b4c9a4f67dee3d.jpg">
          <span class="yh">消费类</span>
          <i>
            <font class="yh">消费类</font>
            <br>
            <font>查看具体解决方案</font>
          </i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/fangan/LED']">
          <img src="http://www.skynoon.com/d/file/p/2015-08-06/5e308b249bb9ec74a86c71d4a65c83db.jpg">
          <span class="yh">LED照明</span>
          <i>
            <font class="yh">LED照明</font>
            <br>
            <font>查看具体解决方案</font>
          </i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/fangan/iot']">
          <img src="http://www.skynoon.com/d/file/p/2015-08-06/11e8b28f314f3773a759e773a85c506e.jpg">
          <span class="yh">可穿戴&amp;IOT</span>
          <i>
            <font class="yh">可穿戴&amp;IOT</font>
            <br>
            <font>查看具体解决方案</font>
          </i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/fangan/dianyuan']">
          <img src="http://www.skynoon.com/d/file/p/2015-08-07/9be164d7a4601099292a989e1185125a.jpg">
          <span class="yh">电源</span>
          <i>
            <font class="yh">电源</font>
            <br>
            <font>查看具体解决方案</font>
          </i>
        </a>
      </li>
    </ul>
  </div>
</div>
