<div class="w1000">
  <div class="main-title yh b-border">可穿戴&amp;IOT
    <font>可穿戴&amp;IOT</font>
  </div>
  <div class="s-list">
    <ul>
      <li>
        <div class="s-title yh">
          <a>1、DA14580 Low Power Bluetooth Smart SoC</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/iot/2015-09-16/e92b4e229349f01f8a8581335d9567fe.png">
        </div>
        <div class="r s-intro">
          <p>&nbsp;
            <span style="font-family: 宋体; font-size: 10.5pt; line-height: 18pt;">Complete&nbsp;Bluetooth®&nbsp;Smart&nbsp;SoC&nbsp;(4.1&nbsp;specification)</span>
          </p>
          <p class="MsoNormal" >
            <span >&nbsp;32-bit&nbsp;ARM&nbsp;Cortex&nbsp;M0&nbsp;microcontroller</span>

          </p>
          <p class="MsoNormal" >
            <span >&nbsp;Radio&nbsp;current&nbsp;consumption:&nbsp;4.9&nbsp;mA&nbsp;RX&nbsp;/&nbsp;TX&nbsp;at&nbsp;3&nbsp;V&nbsp;at&nbsp;0&nbsp;dBm&nbsp;output&nbsp;power</span>
            <span >
            </span>
          </p>
          <p class="MsoNormal" >
            <span >&nbsp;Under&nbsp;600&nbsp;nA&nbsp;sleep&nbsp;mode</span>

          </p>
          <p class="MsoNormal" >
            <span >&nbsp;-93&nbsp;dBm&nbsp;Rx&nbsp;sensitivity</span>

          </p>
          <p class="MsoNormal" >
            <span >&nbsp;0.9&nbsp;
              <font face="宋体">–&nbsp;</font>
              <font face="Calibri">3.45&nbsp;V&nbsp;operating&nbsp;range</font>
            </span>

          </p>
          <p class="MsoNormal" >
            <span >&nbsp;Single-pin&nbsp;antenna&nbsp;interface</span>

          </p>
          <p class="MsoNormal" >
            <span >&nbsp;Supporting&nbsp;Software&nbsp;Upgrade&nbsp;Over&nbsp;The&nbsp;Air&nbsp;(SUOTA)</span>

          </p>
        </div>
        <div class="clear"></div>
      </li>
      <li>
        <div class="s-title yh">
          <a>2、可穿戴IOT</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/iot/2015-09-08/c24b259fbe0a1f7c79deff4f25c160d9.jpg">
        </div>
        <div class="r s-intro">
          <p>&nbsp;智能手环、手表、防丢器</p>
          <div>智能遥控器、智能家居等等</div>
          <div>&nbsp;</div>
          <div>应用产品产品：</div>
          <div>
            <div>小米手环、小天才手表、美的遥控器</div>
            <div>华为ZERO等</div>
          </div>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</div>
