<div class="w1000">
  <div class="main-title yh b-border">行业资讯
    <font>行业资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">解剖暴风：它是“缩小版乐视”吗</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2017-08-07</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;8月4日，暴风集团(20.200, 0.00, 0.00%)发布公告称，董事长冯鑫将所持的暴风集团532.7万股用于质押融资。截至当日，冯鑫已经累计将手中的4921.37万股进行了质押，占其所持股份的69%。</p>
      <p>　　在三周前，暴风集团公布了2017年半年度业绩预告，预计归属上市公司股东的净利润将比上年同期下降0%至30%，预计产生的归属上市公司股东净利润为：1320.44万元-1886.34万元。</p>
      <p>　　提起暴风，总有人想到暴风2015年登陆资本市场后创造的股价神话。如今暴风上市不过两年多的时间，这家公司的市值从最高的369.07亿元跌至2017年7月17日的66.23亿元，累计蒸发了超过300亿元。</p>
      <p>　　在2016年初，暴风曾寄希望于通过“全球DT大娱乐布局”，以VR、体育、影业、TV等业务进行“多中心布局”，将暴风影音、暴风魔镜、暴风TV、暴风秀场4大业务变大变强。</p>
      <p>　　2016年，暴风集团亏损超过2亿元，同时，暴风集团的资金问题也日益明显，公司负债率逐年增加、经营活动产生的现金流也变为负数。</p>
      <p>　　在这样同样发力“大屏”、“生态”，同样亏损、资金压力增大的情况下，暴风和乐视被人们关联起来。</p>
      <p>　　一个有趣的现象是，2016年，暴风集团的实际控制人、董事长冯鑫还公开提出了学习乐视战略的口号。</p>
      <p>　　近日，一则名为“暴风是不是下一个乐视”的帖子也开始火热起来，还有的文章出现了“缩小版乐视：暴风集团”的题目。</p>
      <p>　　新京报记者通过数据对比发现，暴风集团与乐视网(30.680, 0.00, 0.00%)2016年双双亏损，这也成为两家公司上市以来的首度亏损。2016年年底，暴风集团和乐视网的负债率也十分接近，分别为67.69%、67.48%。在股价、市值变化上，暴风和乐视也均是从“神坛”顶峰回落，2017年双双暴跌。在投资和业务布局上，双方的板块也十分类似。</p>
      <p>　　利润</p>
      <p>　　电视拖累，2016年暴风乐视双双“首亏”</p>
      <p>&nbsp;</p>
      <p>　　东方财富(13.070, 0.21, 1.63%)choice数据显示，暴风集团和乐视网2016年分别亏损2.4亿元、2.2亿元，这成为暴风和乐视上市以来的首度亏损年。</p>
      <p>　　乐视网在2016年年度报告中称，公司是因乐视致新净利润亏损6亿多元，才直接导致了乐视网净利润的下滑。资料显示，乐视致新是乐视网重要的控股子公司，拥有乐视网最重要板块——乐视超级电视。而乐视也在年报中称，乐视商城处于亏损状态，随着业务规模的不断扩大，亏损呈现不断上升的趋势。</p>
      <p>　　暴风集团2016年净利润的亏损，主要原因是因新布局的暴风电视产生亏损。暴风集团称，暴风电视是公司战略布局的新业务，2016年处于快速积累用户的初期阶段，尚未进入盈利期，因此影响公司整体盈利水平；其次，2016年下半年以来，上游电视面板等原材料价格大幅上涨，导致暴风电视产品成本大幅上升，毛利率进一步降低。</p>
      <p>　　亏损点双双踩在“大屏”业务上的同时，暴风和乐视的其他业务也有相似之处。数据显示，暴风集团的收入构成中，销售商品收入和广告收入占比较高；乐视的收入构成中，终端业务收入、会员及发行业务收入、广告业务收入占比较高。</p>
      <p>&nbsp;　资金</p>
      <p>　　暴风乐视去年负债率均超67%，现金流由正转负</p>
      <p>　　在乐视各个板块的负债受到关注的同时，暴风集团的资金情况也并不乐观。choice数据显示，截止到2016年年底，暴风集团和乐视网的总负债分别为17.33亿元、217.52亿元，负债率分别为67.69%、67.48%。</p>
      <p>　　虽然乐视网的负债总额较暴风集团的负债总额多出200亿元，但暴风集团的还债压力也并不轻松。数据显示，暴风集团上市以来完成过3次股权激励性质的增发和1次债券进行募资，总额不到4亿元。乐视网（不含乐视网旗下子公司融资）共完成过3次增发募资和5次债券融资，总额超过85亿元。</p>
      <p>　　数据显示，两家公司的经营活动产生的现金流也均为负值。2016年，暴风集团、乐视网由经营活动产生的现金流量净额分别为-1.75亿元、-10.68亿元；投资活动产生的现金流量净额分别为-4.7亿元、-96.75亿元；筹资活动所产生的现金流量净额分别为4.79亿元、94.77亿元。</p>
      <p>　　暴风集团在第一季度报告中称，公司的资金、新业务投资、管理上均面临风险。</p>
      <p>　　暴风集团称，公司自上市以来并未融到足够的发展资金，而竞争对手则可利用明显的资金优势大量购买内容版权并以此扩大用户和收入规模，如果公司不能有效地制定和实施业务发展规划，日益激烈的市场竞争将会对公司经营带来不利影响。</p>
      <p>　　市值</p>
      <p>　　暴风缩水超300亿，乐视蒸发近900亿</p>
      <p>　　2015年3月24日，暴风集团成功在A股上市，在上市的第一个交易日后，暴风集团创下A股纪录，连续29个交易日涨停。不到3个月的时间，暴风集团的股价就上升至307.56元/股，当日总市值达369.07亿元，也成为暴风集团上市后的最高收盘价。</p>
      <p>　　两个月后，也就是2015年5月12日，乐视网也同样创造“神话”，乐视网股价在当日以179.03元/股收盘，总市值达1505.98亿元，市盈率为402倍。</p>
      <p>　　达到股价高峰后，暴风和乐视的股价随着资本市场逐渐冷静而变得平静。2017年7月17日，暴风集团股价回落至19.95元/股，总市值跌至66亿元。乐视网在今年4月14日股价跌至30.68元/股，总市值为611.98亿元。</p>
      <p>　　与此前的最高股价相比，暴风的市值缩水了超过300亿元，乐视则缩水了近900亿元。</p>
      <p>　　在这两只股票涨跌起伏的背后，乐视网的大股东减持情况也比暴风集团更加频繁。</p>
      <p>　　据乐视网公告，2015年6月至2017年1月16日，贾跃亭3次大规模减持自己手中所持有的乐视网股票，共套现117.41亿元。其中，贾跃亭在2015年6月1日到6月3日，减持套现25亿元；2015年10月30日，减持套现32亿元；2017年1月16日，减持套现60.41亿元。</p>
      <p>　　暴风集团方面，2016年4月6日，暴风集团的大股东北京和谐成长投资中心（有限合伙）以88.59元/股的均价减持1100万股，套现9.74亿元。</p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
