<div class="w918">
  <div class="banner">
    <img src="http://www.skynoon.com/d/file/p/2015-08-06/93f45398e8f056cba283cb230b377255.jpg" alt="" srcset="">
  </div>
</div>
<div class="h50"></div>

<div class="w918">
  <div class="p-news news-list">
    <div class="l">
      <div class="main-title yh b-border">公司资讯
        <font>NEWS</font>
      </div>
      <ul class="main-list">
        <li>
          <a href="/news/gszx/120.html" title="CEDA成功举办合肥物联网创新方案暨开发者论坛">CEDA成功举办合肥物联网创新方案暨开发者论坛</a>
          <span>2016-09-28</span>
        </li>
        <li>
          <a href="/news/gszx/112.html" title="决战未来，天午IoT与你共赢">决战未来，天午IoT与你共赢</a>
          <span>2016-07-27</span>
        </li>
        <li>
          <a href="/news/gszx/110.html" title="《国际电子商情》独家专访：“好上好”如何做到好上加好？">《国际电子商情》独家专访：“好上好”如何做到好上加</a>
          <span>2015-12-17</span>
        </li>
        <li>
          <a href="/news/gszx/100.html" title="好上好集团单月业绩再创新高达：59.5M(图文)">好上好集团单月业绩再创新高达：59.5M(图文)</a>
          <span>2015-09-07</span>
        </li>
        <li>
          <a href="/news/gszx/35.html" title="天午Dialog BT4.0 模块问世!">天午Dialog BT4.0 模块问世!</a>
          <span>2015-08-07</span>
        </li>
      </ul>
    </div>
    <div class="r">
      <div class="main-title yh b-border">行业资讯
        <font>NEWS</font>
      </div>
      <ul class="main-list">
        <li>
          <a href="/news/hangye/127.html" title="中兴物联拿下中国电信“宇宙第一标” 独家供应50万片NB-IoT模组">中兴物联拿下中国电信“宇宙第一标” 独家供应50万</a>
          <span>2017-10-18</span>
        </li>
        <li>
          <a href="/news/hangye/125.html" title="尘埃落定！西部数据174 亿美元拿下东芝半导体业务！">尘埃落定！西部数据174 亿美元拿下东芝半导体业务！</a>
          <span>2017-08-30</span>
        </li>
        <li>
          <a href="/news/hangye/124.html" title="乐视网上半年净亏6亿 公告九大风险：负债余额193亿">乐视网上半年净亏6亿 公告九大风险：负债余额193亿</a>
          <span>2017-08-29</span>
        </li>
        <li>
          <a href="/news/hangye/123.html" title="晶圆厂的下一波利润来源：汽车半导体">晶圆厂的下一波利润来源：汽车半导体</a>
          <span>2017-08-10</span>
        </li>
        <li>
          <a href="/news/hangye/122.html" title="解剖暴风：它是“缩小版乐视”吗">解剖暴风：它是“缩小版乐视”吗</a>
          <span>2017-08-07</span>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="h50"></div>
</div>
