<div class="w1000">
  <div class="main-title yh b-border">公司资讯
    <font>公司资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">《国际电子商情》独家专访：“好上好”如何做到好上加好？</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2015-12-17</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">2015年12月1日，两家中国领先的电子元器件技术方案及综合服务提供商——北高智科技和亚讯科技宣布结成战略联盟，共同组建“好上好控股有限公司”。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 首批加入好上好控股的公司有：北高智科技、亚讯科技、天午科技和大豆科技四家公司。北高智科技董事长王玉成和亚讯科技董事长林建明共同担任好上好控股联席 董事长和联席CEO。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> “好上好”这个名字不由得让分销行业想起了台湾的分销巨头“大联大”，其发展模式是否就是翻版的大陆“大联 大”？“好上好”的成立对本土销行业有哪些启示？近日，好上好控股联席董事长王玉成（以下简称“王”）和林建明（以下简称“林”）先生共同接受了《国际电
        子商情》记者的独家专访。对以上等问题进行了详细解读。</p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">
        <img src="http://www.skynoon.com/d/file/news/gszx/2015-12-17/a2e700425fb8f87cb228bee257949a27.jpg" alt="QQ截图20151216160425.jpg" width="597"
          height="451">
      </p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">左为亚讯科技董事长林建明、右为北高智科技董事长王玉成</p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">&nbsp;</p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">
        <strong style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">合并背后的故事</strong>
      </p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】这次北高智和亚讯合并的初衷和目的是什么？</span>
      </p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">【王：】 北高智和亚讯本身都不是初创公司，选择在这个时候合并不完全是为了资本市场，更重要的是围绕这个产业来搭建一个平台。中国本土分销商这个行业已经从当初的 新兴行业变成了一个相对传统的产业。传统产业一般最终都会发展成几大巨头竞争，我们的目标当然也是成为其中之一，在未来的分销领域有一定的话语权。从目前
        发展情况来看，大陆的分销商规模都不大，离国际巨头还有很大的差距，需要很长的路要走。因此，我们在想有没有可能大家把产业结合起来，一起来做一个更大的 平台？正是这样一个共同的梦想驱使并促成了本次合并。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】我们合并目的是要快速形成一个大型的分销企业，覆盖所有市场领 域，拥有更多的客户资源，产品线资源，财务资源等，同时通过改善管理，提高效率，减低成本，为我们代理的产品线提高竞争力，提高抗风险能力。资本运营后续 肯定会做，目的是借助资本的力量进一步把控股公司的平台做得更大更好，也更有利于下一步更多的资源整合做准备。
        <br
          style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
          <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】“好上好控股”未来三到五年的发展目标是什么？</span>
          <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】 一是规模上，我们希望“好上好”能够做大做强，成为中国元器件分销行业的中坚力量。二是产业覆盖度上，我们希望从现有的消费、通信、手机、照明领域向 IoT、汽车电子、工业等领域扩展，实现全行业覆盖。三是商业模式上，我们会不断发展新兴的模式，例如电商，技术方案及技术服务交易平台等。
          <br
            style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
            【林：】除了以上王总讲的三点外，我们会继续整合资源，加大投资，希望在5年之内在中国大陆能够成功IPO， 努力成为亚洲一流的电子元器件技术与服务平台。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
            <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】合并后，两位在公司管理决策上会否有所侧重？</span>
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】我和林总的分工会有一些侧重。业务管理方面，我们会组建管理执行团队分工负责。林总同时还会负责后端的财务和运营方面。我还会偏重组织、人事和公司文化建设方面。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】“好上好”内部的管理架构和团队已经基本确定，接下来会有些磨合和协同。我们肯定会遇到一些挑战，但是我和王总的理念非常吻合，目标也很明确，我们能够彼此尊重和包容，相信在2016年就会马上看到合并给客户，员工和原厂带来极大的好处。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
            <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】大基金对分销领域有没有相关优惠政策？</span>
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】大基金目前主要是针对上游半导体设备、制造、封测和设计等环节。我认为有两种方式可以促进我们的大发展，第一种是大基金直接关注我们，还有一种是上游做大了，我们下游就跟着做大了。从整个产业来看，美国半导体产业发达的时候诞生了艾睿、安富利，台湾诞生了大联大，所以未来中国也一样会有这样的巨头诞生。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
            <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】对于本土分销商，资本现在是如何估值的？</span>
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】 电子元器件分销这个行业在中国已经存在很长时间，之前证券市场对这个行业了解和关注都不太多。为什么国外包括台湾的分销商的并购相对比较好做？因为证券市 场已经对他们进行了估值。而国内缺少一个行业价值衡量的标准，国外公司的估值方式不一定完全适合国内公司。我们都是私营企业，我们基本上根据最近三年盈利
            结果和未来三年增长预测，再加上双方产品线，客户群情况等来协商，在大方向前提下，完全是友好协商的结果。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
            <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】“好上好”的模式对本土分销行业有何启示？</span>
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】这是大势所趋，因为上下游的整合速度都在加快，对于我们中间的渠道商来说，已经不允许你再小打小闹。这就好比管道一样，如果上下头都很大，而中间管道太细，那一定匹配不了产业链的整体发展。如果我们今天不主动走出这一步，未来也会被我们的供应商和客户推动着走。
            <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】 合并的消息出来后，很多人都不太相信能够真得合并成功。事实上，我们两家公司都是连续10年被国际电子商情评为十大本土最佳元器件分销企业，自身都活得很 好，两家公司背景也很相似，但是我们不希望继续走按部就班独自发展的老路。我们希望通过合并，迅速构建一个大型实力强大的元器件技术及服务平台，做一个更
            有挑战跟以前不一样的公司。</p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】两家合并后，产品线方面会不会有重合？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】合并之后，产品线互补非常 多，重合的并不是太多。亚讯偏通讯，手机及工业市场，北高智偏消费市场，移动和照明市场，互补优势非常大。即使有部分冲突的品牌，本身在市场上已经在竞 争，我们的合并基本没有影响这些品牌在市场上竞争力和占有率，对有部分竞争品牌的产品，我们是采用独立团队分开去负责推广，独立管理考核，彼此保持正常的
        竞争。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】我们整合的主要是后台的财务，物流，系统，提高运营效率降低成本，提高代理品牌市场竞争力，在业务层面保持独立运营，总体上，我们评估过，对我们所有代理产品线，基本上都会扩大客户群和市场段，有很大的加分作用。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】整合以后，未来在产品线上会有哪些新的拓展？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】未来将会有几种方式去拓展：第一种是直接去谈新的产品线，开拓新市场。还有一种是做成一个平台，去邀请其它公司加入进来。汽车电子、工业电子，是我们未来3~5年重点投资的方向。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】北高智和亚讯各自的现有产品线会通过一定机制渗透到对方的客户群里面，从速度和时间来说，我们也会再通过整合一些在某些细分市场段积累比较久的公司，加快产品线和市场段布局。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】对2016年分销商行业的展望？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】总体上分销行业的压力越来越大，利润空间越来越小，库存风险和资金风险越来越大，所以通过规模化营运，改善管理，降低成本，提高效率，这样就提高代理产品线的竞争力，我相信随上游原厂的大量合并，以及下游客户优胜劣汰，未来5年有规模的代理商也会越来越集中。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】怎样看待未来通讯行业的发展？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】 我们还是看好通讯市场的发展前景，最主要是互联网的需求带动的，例如光传输和接入设备，大数据中心，高速交换机和路由器，无线终端，5G设备等；这些会拉 动大量元器件需求，我们基本上是跟随全球领先的原厂如Avago，Microsemi，FCI等来进行布局的。我们跟华为，中兴、华三，烽火，大唐，阿朗
        等客户都有很多的项目设计和合作。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】可穿戴今年有一个大的爆发，能否谈一谈后续的发展？</span>
      </p>
      <p style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 25.6px; clear: both; font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; white-space: pre-wrap; min-height: 1em; max-width: 100%; box-sizing: border-box !important;">【王：】 天午科技在可穿戴方面比较强，现在行业内几家知名制造厂商的生态链基本都是他们在服务。可穿戴是一个方向，实际上都是作为手机的一个外设产品在销售。未来 的可穿戴可能往运动、健康、老人、儿童类等产品细分发展。当然，这些市场不可能有手机市场那么大。另外，可穿戴涉及的产品主要是控制器、无线连接器件和传
        感器，很多客户需要整体的解决方案，天午都有提供。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】除了可穿戴，能否谈一谈物联网未来的发展？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】目前，IoT最大的量还是在可穿戴。至于其它的物联网，包括智能照明、家庭应用、IPC等放方面，我认为IPC会是一个爆发点。智能家居方面，现在看来还是处于比较前期的阶段，因为标准不统一。硬件公司相对来说比较简单，反而是平台比较复杂。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】能否谈一谈商业模式的创新？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【王：】现在授权代理的商业模式基本上比较成熟，未来的商业模式可能在电商这一块会有一些探讨。另外，我们将来会尝试做一些技术服务交易平台，类似于PCB设计服务、技术方案交易等。
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">
        <span style="margin: 0px; padding: 0px; color: rgb(0, 82, 255); -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;">【问：】随着制造业转移，是否考虑国际化发展路线？</span>
        <br style="margin: 0px; padding: 0px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"> 【林：】第一步，我们还是会重点聚焦在大陆，把大陆市场开发好，这已经是非常大的蛋糕。我们在台湾已经设有技术支持和商务服务据点，将来在韩国，日本和欧美我们会考虑与当地资源合作。
      </p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
