<div class="w1000">
  <div class="main-title yh b-border">公司资讯<font>公司资讯</font></div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">好上好集团单月业绩再创新高达：59.5M(图文)</div>
    <div class="title-span"><span>作者：TW</span><span>转贴自：转载</span><span>时间：2015-09-07</span></div>
    <div class="h20"></div>
    <div class="content-info"><p>&nbsp;<span style="font-family: Arial, 微软雅黑; line-height: 18px; font-size: 11px;">好上好，好日子！</span><span style="font-family: Arial, 微软雅黑; line-height: 18px; font-size: 11px;">好上好集团携各分公司与全国各地办事处共同欢庆单月业绩再创新高，惊喜不断，盛况堪比阅兵，朋友圈一片艳阳红！</span></p>
<p style="color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;"><span style="font-size: 11px;">为了给全公司各位同事一个惊喜，行政算是操碎了心，一大早通知后面出现故障全体走前门！当我们带着假后上班恐惧症，睡眼惺忪的走出电梯，准备百米冲刺打卡时，迎面被一大波VP要求佩戴工牌，整理服装，准备接受迟到罚款！吓死宝宝们了！</span></p>
<div style="color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;"><span style="font-size: 11px;">走进公司，一个大大的红包拿在手上，幸福来得太突然！</span></div>
<p>首先感谢原厂的大力支持、客户的震撼捧场、领导们的英明决策；还要感谢在外奔波的业务兄弟姐妹和强大的后勤部门！感谢公司，感谢各部门，感谢自己！加油！期待更多的今天！</p>
<p><img src="http://www.skynoon.com/d/file/news/gszx/2015-09-07/bfdb85aa6b94fd55e80dad98455e82ca.jpg" alt="IMG_4808.JPG" width="1280" height="960"></p></div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>