<div class="w1000">
  <div class="main-title yh b-border">行业资讯
    <font>行业资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">尘埃落定！西部数据174 亿美元拿下东芝半导体业务！</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2017-08-30</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;
        <span style="color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 15px; line-height: 32px; widows: 1;">科技新报最新报道称，拖延了大半年的日本科技大厂东芝（Toshiba）出售旗下半导体业务案，终于尘埃落定！</span>
      </p>
      <p style="color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; font-size: 13.333333969116211px; line-height: 18px;">
        <span style="color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 15px; line-height: 32px; widows: 1;">
          <img alt="" src="http://www.honestar.com/imgHonestar/760b77a8739942debf3baeb567dcd80d.jpg" style="margin: 0px 16px 12px 0px; cursor: pointer; width: 624px; height: 417px;">
        </span>
      </p>
      <p style="color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; font-size: 13.333333969116211px; line-height: 18px;">
        <span style="font-size: 15px; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; line-height: 2em; widows: 1;">根据《路透社》引用消息人士的最新报导，东芝已与西部数据达成协议，以174 亿美元将半导体业务出售给西部数据（Western Digital Corporation）领导的联盟。</span>
      </p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">该联盟除了西部数据之外，还包括私募基金公司 KKR、日本创新网络公司（Innovation Network Corp）以及日本政策投资银行（DBJ）与日本其他公司。该项消息预计在本周四（8/31）正式对外公布。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">报导指出，西部数据主导与东芝达成的协议，包括相关公司将以 174 亿美元（约1.9兆日元）收购东芝半导体。日本创新网络公司、日本政策投资银行、美国基金 KKR 分别出资 3000 亿日元，西部数据出资 1500 亿日元认购不超过三分之一股权，由东芝半导体发行的可转换公司债（ECB）。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">即使 ECB 转换成公司股票，其持股比例也不会超过三分之一，对公司经营决策没有投票权。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">其他日本企业投资 500 亿日元，东芝本身也持有约 1000 亿日元股权，以求日本企业持有东芝半导体业务股权超过 60%，掌握经营权。根据该项协议，东芝的债权银行三井住友及瑞穗银行也扩大约 7000 亿日元贷款。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">该项交易经历大半年协商与谈判，终于尘埃落定。对西部数据来说，是赢得一场「惊人的胜利」。东芝为了弥补旗下核电子公司西屋电器造成的数十亿美元亏损，急需出售旗下全球第 2 大 NAND Flash 快闪存储器业务来筹措资金，避免公司破产。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">经过第一轮竞标后，东芝原本选定由贝恩资本带领的「美日韩联盟」为优先议价对象。但与东芝合资经营生产工厂的西部数据，反对 「美日韩联盟」中有其竞争对手──南韩 SK 海力士，因而对东芝发起诉讼，导致该出售案延宕。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">但东芝因濒临破产，股票已自 8 月 1 日起自东京证交所一部调降至二部交易。如东芝 2018 年 3 月底前无法筹措营运资金，以避免公司破产，东芝股票将自东京证交所下市，这对急于重整的东芝来说会造成严重的伤害。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">几经峰回路转，最终东芝还是与合作伙伴西部数据走上谈判桌，达成最终半导体业务出售协议。不过，目前双方都还没对此发表评论。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">双方成协议后，还必须通过日本监管单位为期 6 个月的审查，要赶在 2018 年 3 月底股票下市的大限前取得资金，预计双方会在 8 月 31 日宣布协议。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">消息人士指出，西部数据最后能取得胜利的主因，除了在美国发起的诉讼，对出售案造成影响外，还有在谈判条件上让步。据信，让步就是不强调取得东芝半导体经营权的计划。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">面对主要对手，南韩三星在 NAND Flash 快闪存储器持续扩产，包括 27 日三星已宣布，未来三年内将投资 70 亿美元扩产 NAND Flash。西部数据取得东芝半导体后，两者合并市占达 32.7%，逼近三星的 36.7%，将有机会与之抗衡。未来
          NAND Flash 快闪存储器市场需求越来越大，西部数据也可藉此步入另一阶段。</span>
      </p>
      <p style="line-height: 18px; margin: 0px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</p>
      <p style="margin: 0px 16px; padding: 0px; max-width: 100%; clear: both; min-height: 1em; color: rgb(62, 62, 62); font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; widows: 1; line-height: 2em; box-sizing: border-box !important; word-wrap: break-word !important;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 15px; box-sizing: border-box !important; word-wrap: break-word !important;">东芝股价 28 日上涨 0.6%，自 2016 年底以来，东芝市值已减损 30%。</span>
      </p>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
