<div class="main-bg-repate">
  <div class="main-bg">
    <div class="w918">
      <!-- 内容块1 -->
      <div class="main-box">
        <div class="main-title yh">代理产品
          <font>Products</font>
        </div>
        <div class="main-img"> <img src="/assets/images/main/main1.jpg"> </div>
        <div class="main-pic mnone" id="hdpic">
          <ul style="height: 91px;">
            <li><a href="/dlcp/AzureWave/"><img src="http://www.skynoon.com/d/file/p/2017-06-16/13da57f3f7c0be5b824bf0492faf99f5.jpg"></a></li>
            <li><a href="/dlcp/恒玄BES/"><img src="http://www.skynoon.com/d/file/p/2017-09-06/e4037b59e74cc0e36a563e307c8e028a.jpg"></a></li>
          </ul>

          <ul style="height: 91px;">
            <li><a href="/dlcp/Bridgelux/"><img src="http://www.skynoon.com/d/file/p/2015-08-06/31f87d85318b7ffe06470bafb48d2e4e.jpg"></a></li>
            <li><a href="/dlcp/Dialog/"><img src="http://www.skynoon.com/d/file/p/2015-08-06/fc85f1fe6b03ee1a02accdc5f580db05.jpg"></a></li>
          </ul>
        </div>
        <div class="main-pic pcnone">
          <div class="hd">

            <ul class="clear">
              <li><a href="/dlcp/Amlogic/"><img src="http://www.skynoon.com//d/file/p/2015-08-06/011aa6b6411e3faccab3577f8f0f83b0.jpg"></a></li>
              <li><a href="/dlcp/Allvision/"><img src="http://www.skynoon.com//d/file/p/2016-11-08/094a286190dc0f79767cedd07e0371f7.jpg"></a></li>
              <li><a href="/dlcp/AzureWave/"><img src="http://www.skynoon.com//d/file/p/2017-06-16/13da57f3f7c0be5b824bf0492faf99f5.jpg"></a></li>
            </ul>

            <ul class="clear">
              <li><a href="/dlcp/恒玄BES/"><img src="http://www.skynoon.com//d/file/p/2017-09-06/e4037b59e74cc0e36a563e307c8e028a.jpg"></a></li>
              <li><a href="/dlcp/Bridgelux/"><img src="http://www.skynoon.com//d/file/p/2015-08-06/31f87d85318b7ffe06470bafb48d2e4e.jpg"></a></li>
              <li><a href="/dlcp/Dialog/"><img src="http://www.skynoon.com//d/file/p/2015-08-06/eb65d617bf32ac7ab432b94b8d4eaf61.jpg"></a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="main-box">
        <div class="main-title yh">新闻资讯
          <font>News</font>
        </div>
        <div class="main-img"> <img src="/assets/images/main/main2.jpg"> </div>
        <ul class="main-list">
          <li>
            <a href="/news/hangye/125.html" title="尘埃落定！西部数据174 亿美元拿下东芝半导体业务！">尘埃落定！西部数据174 亿美元拿下东芝半</a>
          </li>
          <li>
            <a href="/news/hangye/124.html" title="乐视网上半年净亏6亿 公告九大风险：负债余额193亿">乐视网上半年净亏6亿 公告九大风险：负债</a>
          </li>
          <li>
            <a href="/news/hangye/123.html" title="晶圆厂的下一波利润来源：汽车半导体">晶圆厂的下一波利润来源：汽车半导体</a>
          </li>
          <li>
            <a href="/news/hangye/122.html" title="解剖暴风：它是“缩小版乐视”吗">解剖暴风：它是“缩小版乐视”吗</a>
          </li>
          <li>
            <a href="/news/hangye/121.html" title="乐视网：一年内待偿债务曾逾40亿 已偿付首期公司债；">乐视网：一年内待偿债务曾逾40亿 已偿付</a>
          </li>
          <li>
            <a href="/news/gszx/120.html" title="CEDA成功举办合肥物联网创新方案暨开发者论坛">CEDA成功举办合肥物联网创新方案暨开发</a>
          </li>
        </ul>
      </div>
      <div class="main-box">
        <div class="main-title yh">解决方案
          <font>Solution</font>
        </div>
        <div class="main-img"> <img src="/assets/images/main/main3.jpg"> </div>
        <ul class="main-list">
          <li><a href="/fangan/xiaofei/">消费类</a></li>
          <li><a href="/fangan/LED/">LED照明</a></li>
          <li><a href="/fangan/iot/">可穿戴&amp;IOT</a></li>
          <li><a href="/fangan/dianyuan/">电源</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
