<div class="w1000">
  <div class="main-title yh b-border">公司资讯
    <font>公司资讯</font>
  </div>
  <div class="h20"></div>
  <div class="content clear">
    <div class="title yh">CEDA成功举办合肥物联网创新方案暨开发者论坛</div>
    <div class="title-span">
      <span>作者：TW</span>
      <span>转贴自：转载</span>
      <span>时间：2016-09-28</span>
    </div>
    <div class="h20"></div>
    <div class="content-info">
      <p>&nbsp;
        <span style="color: rgb(95, 94, 94); font-family: 微软雅黑; font-size: 14px; line-height: 19.600000381469727px; text-indent: 2em;">&nbsp;</span>
        <span style="font-size: 14px; text-indent: 2em; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">2016物联网创新方案暨开发者创客成果论坛近日在合肥成功举办！这是中国信息产业商会电子分销商分会(以下简称CEDA)携手合作伙伴，共同打造的针对物联网创新方案的深入研讨。此次活动协办是我爱方案网与快包-智能硬件设计众包平台，参与企业包括CEDA会员单位好上好控股，富昌电子，科通集团，上海丰宝，贝能国际，泰科源，贸泽电子，元六鸿远以及在物联网创新方案领域领先的公司包括华为，Broadlink,科大讯飞，狗尾草机器人，银河风云和欧孚通讯等，以上参与企业的大力支持使得活动得以成功落幕！此次论坛也是第三届全球传感器高峰论坛暨中国物联网应用峰会的核心论坛之一，由合肥市人民政</span>
        <img
          alt="" src="http://www.honestar.com/imgHonestar/04ea626d29e2470984c17857504e55b6.jpg" style="color: rgb(95, 94, 94); font-family: 微软雅黑; font-size: 14px; line-height: 19.600000381469727px; text-indent: 2em; border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 800px; height: 550px;">
      </p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">好上好控股董事长王玉成博士代表CEDA精彩致辞，王博士首先感谢中科院物联网中心，CEDA的会员单位，我爱方案网和快包－智能硬件设计众包平台等合作伙伴的大力支持。王博士指出，“CEDA是中国信息产业商会电子分销商分会，我们是电子元器件授权代理商的协会，为中国创新提供一站式可信赖的电子元器件供应链和技术方案。今天CEDA在这里举办物联网创新方案论坛，一方面推广CEDA会员的创新方案，另一方面和产业界的朋友一起探讨物联网时代的创新之路！今天我们叶特别邀请了华为，科大迅飞，欧孚通信和Broadlink的技术专家分享技术创新，还有两个创客好项目分享创新成功的故事：狗尾草机器人和银河风云。他们是我爱方案网承办的全球创客大赛的明星项目，都拿到了投资，在市场上也取得了成功。我希望通过今天的论坛碰撞和分享能为大家带来新思路，新灵感，新创意和新合作，协同创新，一起打造物联网创新方案的生态圈！CEDA将为中国创新全面护航！”</p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">据悉，去年12月，CEDA首次官方权威发布《2015年中国市场最活跃的50家电子元器件授权分销商名录》，包括本土领先的授权分销商和国际分销商在中国的机构，营业额超过500亿美元。CEDA欢迎在中国运作的电子元器件授权分销商加入，一起服务中国创新！联系CEDA秘书处：member@cedachina.org.</p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">好上好控股是中国大陆第一家采用控股模式的大型电子元器件分销产业联盟，总部位于深圳，旗下拥有北高智、亚讯、天午和大豆四家公司。公司员工近600人，代理产品线超过100条，销售网络覆盖20多个国内主要城市和台湾、香港地区。好上好控股采用“控股公司
        子公司”的运营模式，各个子公司在业务上独立经营和管理，在仓储物流、资金信贷、ERP/CRM/OA系统、线上电商平台和方案设计等后台资源方面全面共享。</p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">好上好控股代理产品覆盖消费电子、通讯、LED照明、工业应用和IoT等多个领域，同时拥有多个成熟的AE和FAE团队，在代理产品基础上为客户提供全套解决方案和交钥匙服务，得到了上游供应商和下游客户的高度认可。</p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">本次论坛，十位演讲嘉宾为观众带来具有创新意义的精彩内容。演讲嘉宾来自于在物联网创新领域领先的CEDA会员单位和优秀创客企业和创新企业。分别从供应链的层面，方案的层面以及创新平台的层面几个不同的角度为在场听众全方位阐述了物联网时代创新的方向，给观众带来深层次的思考。论坛内容精彩，先来看看会议进行中演讲嘉宾的精彩瞬间，会后我爱方案网作为合作媒体将会更新更多干货给大家，敬.
        <img
          alt="" src="http://www.honestar.com/imgHonestar/c821f50b5a9a4a9ca473feec484fef9d.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 618px; height: 413px;">
      </p>
      <p style="margin: 1em 0px; text-indent: 2em; font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图1：CEDA常务理事，好上好控股有限公司董事长王玉成博士精彩致辞！</p>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/a9dca07cad36498d8f340ca2bc5d1583.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 604px; height: 403px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图2:富昌电子区域市场经理黄宁分享基于英飞凌和ST的物联网创新方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/cc680b6755ad4954806a67359d2b69b2.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图3: 科通宽带FAE总监李煊分享基于Cypress(Broadcom)的物联网创新方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/a929ef09c2ab440f9e32aef83eb2670c.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 622px; height: 416px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图4:&nbsp;上海丰宝副总经理陆宁海分享基于NXP的物联网方案和丰宝物联的蚊居智慧捕蚊系统</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/d580a2c6110c4decb2017a3b59547747.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 631px; height: 421px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图5: 贝能国际资深工程师江火明分享基于Microchip的物联网中的无线传输应用解决方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/e921710eba134f1abd218cd96bc0957a.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 624px; height: 417px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(62, 62, 62); font-size: 16px; line-height: 25.6000003814697px; white-space: pre-wrap; widows: 1; font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">图</span>
        <span style="color: rgb(62, 62, 62); font-family: 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; line-height: 25.6000003814697px; white-space: pre-wrap; widows: 1;">6:</span>
        <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(62, 62, 62); font-size: 16px; line-height: 25.6000003814697px; white-space: pre-wrap; widows: 1; font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">华为蜂窝物联网产品线高级营销经理徐卫中分享基于</span>
        <span style="color: rgb(62, 62, 62); font-family: 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif; font-size: 16px; line-height: 25.6000003814697px; white-space: pre-wrap; widows: 1;">NB-IoT</span>
        <span style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(62, 62, 62); font-size: 16px; line-height: 25.6000003814697px; white-space: pre-wrap; widows: 1; font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">的物联网应用创新</span>
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/62cf833561ee4cdd82043cd923cb1428.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 568px; height: 380px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图7: Broadlink DNA Kit产品经理窦德厚分享物联网创新方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/71cdf19e5778430aaa420c15442e9ba7.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 604px; height: 403px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图8: 深圳狗尾草智能科技有限公司CEO邱楠精彩演绎人工智能和黑科技</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/5b11e4bf37a14b909de6da0194d30feb.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 589px; height: 393px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图9:银河风云董事长曾雨分享全自主超轻量级嵌入式物联网SOC芯片方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/9394ce98d3094ce59d40b18c91f449a0.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 620px; height: 414px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图10: 科大讯飞研发主管赵艳军分享人工智能时代下的人机交互方案</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/e30e0a2a2eaf4941b7f45b5c234a1001.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 607px; height: 405px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图11: 我爱方案网副总裁助理于颖分享物联网领域的创新方案和快包－智能设计众包平台的创新案例</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/3693dc93e46743269a3a76fef58262e6.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 600px; height: 450px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图12:圆桌讨论环节，深入探讨中，感谢欧孚通信CEO俞文杰的精彩主持</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/2002caedb3f54a89afce91111af36a03.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 600px; height: 450px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图13:CEDA会员单位的参会嘉宾</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">
        <img alt="" src="http://www.honestar.com/imgHonestar/50f03f82776d430e96a2fccfb219388a.jpg" style="border: 0px; vertical-align: middle; margin: 0px 16px 12px 0px; cursor: pointer; width: 603px; height: 331px;">
      </div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">&nbsp;</div>
      <div style="font-size: 14px; color: rgb(113, 113, 113); font-family: Arial, 微软雅黑; line-height: 18px;">图14：参会嘉宾合影</div>
    </div>
  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
