<div class="w918">
  <div class="index-about-line"></div>
  <div class="index-about">
    <div class="about-title">Skynoon-A
      <font>Professional Component Distributor &amp; Solution Provider</font>
    </div>
    <div class="about-info">
      天午科技是好上好控股有限公司旗下的公司之一。总部设在深圳，销售网络涵盖整个中国，在北京、上海、成都、厦门、青岛，以及香港、台湾设有分公司或办事处，专注于芯片分销和方案设计，聚焦在消费市场、照明市场、手机市场、可穿戴市场，是国内的优秀代理商之一。
      精耕细作、持之以恒是天午的行销策略。先后获得诸多国际著名芯片厂商在中国的授权代理商，如 Amlogic、Bridgelux、Dialog、ESMT，Maxlinear、Rohm、Yamaha等等。
    </div>
  </div>
</div>
