<div class="w1000">
  <div class="main-title yh b-border">LED照明
    <font>LED照明</font>
  </div>
  <div class="s-list">
    <ul>
      <li>
        <div class="s-title yh">
          <a>1、切相调光：iw3688-00/01</a>
        </div>
        <div class="l s-img">
          <img src="http://www.skynoon.com/d/file/fangan/LED/2015-09-16/58ebcaeddfe5ad1463af3409b9502e3f.png">
        </div>
        <div class="r s-intro">
          <div>1、BOM成本低：无专门bleeder电路、非隔离单电感工作、元减少，可以做成单面板。</div>
          <div>2、性能优势：调光范围1%到100%,调光兼容性业内最高，非常全面的故障保护。</div>
          <div>3、应用优势：不同应用需要改的元件少，美规和欧规可以共用PCB。</div>
        </div>
        <div class="clear"></div>
      </li>
      <!--list.var2-->
      <!--list.var3-->
      <!--list.var4-->
      <!--list.var5-->
    </ul>

  </div>
  <div class="h20"></div>
  <div class="page"></div>
  <div class="h50"></div>
</div>
